@model FirstDbMVCApp.Models.ViewModels.CUStudentVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="@Model.Student.Id" />
                <div class="form-group">
                    <label asp-for="@Model.Student.FullName"></label>
                    <input asp-for="@Model.Student.FullName" />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Student.Course"/></label>
                    <select asp-for="@Model.SelectedCourseId" asp-items="@Model.SelectItems"></select>
                </div>
                <input type="submit" value="Submit"/>
        </form>
    </div>
</div>



<!-- <div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>-->

