@model IEnumerable<Student>

@{
    ViewData["Title"] = "Index";
}

<a asp-action="create">Add New Student</a>

<table class="table">
    <thead>
        <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            Enrolled Course
        </th>
        </tr>
    </thead>

    <tbody>
        @foreach(Student s in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => s.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.Course.Title)
                </td>
            
            </tr>
        }
    </tbody>
</table>

